---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { href: string; type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
const buttonClasses =
  'inline-flex items-center justify-center px-6 py-2 font-serif leading-tight italic bg-[var(--accent-forest-green)] text-white border border-[var(--accent-forest-green)] rounded-full transition-colors hover:bg-[var(--accent-slate-blue)]';

---

{
    href ? (
        <a href={href} class:list={[buttonClasses, className]} {...rest}>
            <slot />
        </a>
    ) : (
        <button class:list={[buttonClasses, 'cursor-pointer', className]} {...rest}>
            <slot />
        </button>
    )
}
